<nav class="navbar navbar-expand-md navbar-dark nav">
    <span class="mr-md-5">portfolio</span>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right text-md-left" id="navbarTogglerDemo02">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li *ngFor="let link of links" class="nav-item">
                <a class="nav-link nav__itens" [href]="link.page"> {{link.title}} </a>
            </li>
        </ul>
        <div class="d-flex float-right">
            <a *ngFor="let social of socials" class="nav__social" [href]="social.link" [title]="social.link_title"
                target="_blank">
                <img [src]="social.icon" alt="" class="nav__social--icon">
            </a>
        </div>
    </div>
</nav>