@import '../../styles.scss';

.home {
    &__pic {
        img {
            border-radius: 300px;
            border-color: $terciary-color;
            width: 100%;
            max-width: 400px;
            @include media-breakpoint-down(sm){
                width: 250px;
            }
        }
        @include media-breakpoint-down(sm){
            order: 2;
        }
    }
    &__description {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        &--border {       
            border-left-color: $primary-color;
            border-left-style: inset;
            border-left-width: 2px;
        }    
        @include media-breakpoint-down(sm){
            order: 1;
        }
        // &--title {
        //     font-family: $font;
        //     font-size: 40px;
        //     @include media-breakpoint-down(sm){
        //         font-size: 30px;
        //     }
        // }
        &--text {
            p {
                padding-left: 20px;
                margin: 0px;
            }
            &::before {
                content: '<about me>';
                display:block;
                font-weight: 600;
                color: $terciary-color;
            }
            &::after {
                content: '</about me>';
                display: block;
                font-weight: 600;
                color: $terciary-color;
            }
        }
    }
}