<div class="background page-container">
    <div class="text container">
        <app-menu></app-menu>
        <div class="row mt-md-5">
            <div class="col-md-6 text-center home__pic mt-3 mt-sm-0">
                <img class="" src="../../assets/imgs/profile2.png" alt="">
            </div>
            <div class="col-md-6 pr-5 mt-5">
                <div class="home__description">
                    <div class="home__description--border pl-4">
                        <div class="home__description--text">
                            <p> I'm <span class="text__bold">Giulia Tondin</span>, a
                                master's student, front-end developer and general maker of things.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sagittis erat.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sagittis erat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../../assets/imgs/line.svg" alt="" style="position: absolute; bottom: 0px;">
</div>