<div class="page-container">
    <div class="text container">
        <app-menu></app-menu>
        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <img class="home__pic" src="../../assets/imgs/img_profile.jpg" alt="">
            </div>
            <div class="col-md-6 pr-5 mt-5">
                <div class="home__description">
                    <div class="home__description--border pl-4">
                        <h2>Hello World!</h2>
                        <p> I'm <span class="text__bold">Giulia Tondin</span>, a master's student,
                            front-end developer and general maker of things</p>
                        <a [href]="social.link" [title]="social.link_title" target="_blank" class="btn mt-3">View
                            Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>